<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Howee Interface</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container mt-4" >
        <div class="row">
            <div class="col-md-8">
                <div class="responseLog-container mt-3">
                    <ul id="responseLog" class="list-group ">
                        <li class='loading list-group-item message-type-incoming' style='display:none'>...</li>
                </ul>
            </div>
            <div class="mt-3 row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="inputBox" placeholder="Type your command...">
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class='layer'>
                <div class='emotions'>
                    <div class='face'> </div>
                </div>
                </div>
                <div class='layer'>
                    <div class='eyes'>
                        <table>
                            {% for y in range(9) %}
                                <tr>{% for x in range(9) %}<td data-pos="{{x}},{{y}}"></td>{% endfor %}</tr>
                            {% endfor %}
                        </table>
   
                    </div>
                    <input type="range" id="eyesX" min="0" max="255" value="50" />
                    <input type="range" id="eyesY" min="0" max="255" value="50" />
                   
                    <select id="emotionSelector" name="emotion">
                        <option value="sleep">Sleep</option>
                        <option value="idle">Idle</option>
                        <option value="surprised">Surprised</option>
                        <option value="thinking">Thinking</option>
                    </select>
                    

                    <div class='volume'>    
                        <svg width="100" height="100" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="1" stroke="white" stroke-width="2" fill="none" id="volumeCircle"></circle>
                            <circle cx="50" cy="50" r="1" stroke="cyan" stroke-width="2" fill="none" id="micCircle"></circle>
                        </svg>
                    </div>

                </div>
                <div class="layer">
                    Volume:
                    <input type="range" id="volumeSlider" min="70" max="100" value="75" />

                </div>

                <div class="actions">
                    <div id='buttons'><button id='sleep' class='btn btn-info'>Sleep</button><button id='turbo' class='btn btn-info'>Turbo</button></div>
                    <div id='light'><span class='label'></span> <span class='lux'></span></div>

                    <div class="cube-container">
                        <div class="cube">
                            <div class="axis x"></div>
                            <div class="axis y"></div>
                            <div class="axis z"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script rel="stylesheet" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
